@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --primary-1: #363738;
  --secondary: #f5f5f5;
  --secondary-1: #fefaf1;
  --secondary-2: #db4444;
  --bg: #ffffff;
  --text: #fafafa;
  --text-1: #7d8184;
  --text-2: #000000;
  --button: #000000;
  --button-1: #00ff66;
  --button-2: #db4444;
  --hover-button: #e07575;
  --hover-button-1: #a0bce0;
}
